.app_pink_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #d635ff;
    --primary-color: #3107b9;
    --secondary-color: #3f0aff;
    --inverted-primary-color: #f6ccff;
    --inverted-secondary-color: #f9f4fb;

    //sceleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    //code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;
}
