.app_pink_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #d635ff;
    --primary-color: #3107b9;
    --secondary-color: #3F0AFF;
    --inverted-primary-color: #f6ccff;
    --inverted-secondary-color: #F9F4FB;
}
